<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Historique des Transactions</title>
</head>
<body>
    <h1>Historique des Transactions de {{ nom_enfant }}</h1>
    <ul>
        {% for operation in historique %}
            <li class="{{ operation['action'] }}">
                {{ operation['date'] }} - {{ operation['action'] }} : {{ operation['montant'] }}€
                {% if operation['mode'] %}
                    (Mode: {{ operation['mode'] }})
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
